<h2>verification</h2>
{{ form_start(form) }}
{{ form_widget(form) }}

<button type="submit">ajouter</button>
<a href="http://127.0.0.1:82/pidev/web/app_dev.php/afficher"><button >Back</button></a>

{{ form_end(form) }}